{{ define "main" }}
<h1>{{ .Title }}</h1>
<link rel="stylesheet" href="{{ "../../syntax.css" | absURL }}">
{{ .PublishDate.Format "Jan. 2, 2006" }}
{{ with .Params.linkedin }}
    // <a href="{{ . }}">Linkedin</a>
{{ end }}
{{ with .Params.twitter }}
    // <a href="{{ . }}">Twitter</a>
{{ end }}
<br/><br/>
{{ .Content }}
<script src="https://utteranc.es/client.js"
        repo="ungatz.github.io"
        issue-term="pathname"
        theme="gruvbox-dark"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
