{{ define "main" }}
{{ if true }}{{ partial "katex.html" . }}{{ end }}
<h1>(whois "sanad")</h1>
<p>
I'm a second year master's student at Indiana University studying computer science. My research is centered around
computation, logic, mathematics and language in particular I'm currently interested in
problems associated with semantics of programming languages (classical and quantum) and the intersection category theory
and programming (style and technique).
I'm also interested in cinematic art forms, weird music and walking. If you want to connect, mail me <a href = "mailto: sdkadu@iu.edu">here</a>.
</p>
<br/>

<h1>Latest posts</h1>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false}
            ]
        });
    });
</script>
<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

{{ end }}

